# VITE_PUBLIC_SUPABASE_URL="sb_publishable_iWtIsIkp0lcIQI6HGPgT0g_MLALqBOP"
# VITE_PUBLIC_SUPABASE_ANON_KEY="https://maiymsegdbkucpgltkwu.supabase.co"
VITE_BOOKING_API_URL=http://localhost:8787/api/bookings
VITE_TIMESLOTS_API_URL=http://localhost:8787/api/timeslots
